extends layout

block head
  link(rel='stylesheet', href='/stylesheets/editprofile.css')

block content
  .profile-container
    .profile-left
      .profile-title Edit Profile
      form(action="/users/edit-profile", method="POST", enctype="multipart/form-data")
        .profile-fields
          .profile-field
            label User Name
            .field-value= name || 'Not provided'
          .profile-field
            label E-mail
            .field-value= email || 'Not provided'
          .profile-field
            label Password
            .field-value
              | ••••••••
              a.change-password(href="/users/set-password") Change Password
          .profile-field
            label Location
            .field-value= location || ''
          .profile-field
            label Phone
            .field-value= phone || ''
          .profile-field
            label Profile Photo
            input(type="file", name="photo", id="photo", accept="image/*")
        .profile-actions
          button(type="submit", class="edit btn-success") Save Changes
          button(type="button", class="back", onclick="window.location.href='/profile'") Cancel

    .profile-image-section
      if user && user.photo
        img.profile-avatar(src=user.photo, alt="Profile Photo")
      else
        img.profile-avatar(src="/images/profile.png", alt="Profile Photo")

  // footer stays outside the card and is part of the page layout
  footer
    p © 2025 Secure My Campus | 
      a(href="#") Privacy Policy
      |  
      a(href="#") Help Center

block scripts
  script(src='/javascripts/profile.js')
